header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.png", alt="alt")
        nav.header__right
            .navbar__toggle
            ul.navbar
                each navLink, i in [{name: 'Home', href: ''},{name: 'Models', href: ''},{name: 'About', href: ''},{name: 'Apply', href: ''},{name: 'Contact', href: ''},]
                    li.navbar__item
                        if i===0
                            a.navbar__link.active(href= navLink.href)= navLink.name
                        else
                            a.navbar__link(href= navLink.href)= navLink.name
